!!! 5
%html
%head
	%title Recipe App
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags

%body
	%nav.navbar.navbar-default
		.container
			.navbar-brand= link_to "Recipe Box", root_path

			%ul.nav.navbar-nav.navbar-right
				- if user_signed_in?
					%li= link_to "New Recipe", new_recipe_path
					%li= link_to "Account", edit_user_registration_path
					%li= link_to "Sign Out", destroy_user_session_path, method: :delete
				- else
					%li= link_to "Sign In", new_user_session_path
					%li= link_to "Sign Up", new_user_registration_path

	.container
		- flash.each do |name, msg|
			- if flash[:notice]
				= content_tag :div, msg, class: "alert bg-success"
			- elsif flash[:error]
				= content_tag :div, msg, class: "alert bg-danger"
			- elsif flash[:alert]
				= content_tag :div, msg, class: "alert bg-warning"
				

		= yield 
